<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBflfSKvka_COnW6F65SxJbu2eKPHj6mvA</string>
	<key>GCM_SENDER_ID</key>
	<string>775721678370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoooy.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-v3-738b5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-v3-738b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775721678370:ios:491b88112e6abd5306fc7b</string>
</dict>
</plist>